/* stylelint-disable selector-class-pattern */
.noUi-touch-area {
  width: 100%;
  height: 100%;
}

.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper {
  outline: 0;
}

.noUi-horizontal .noUi-handle {
  right: -0.75rem;
  top: -0.3rem;
  width: var(--extra-small-offset);
  height: var(--extra-small-offset);

  @media (max-width: 768px) {
    right: -0.5rem;
    top: -0.2rem;
    width: calc(var(--extra-small-offset) / 1.5);
    height: calc(var(--extra-small-offset) / 1.5);
  }
}

.noUi-handle {
  position: absolute;
  border: var(--two) solid var(--noble-white-100);
  border-radius: 50%;
  box-shadow: none;
  background-color: var(--steam-green-700);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.3;
  cursor: pointer;
}

.noUi-target,
.noUi-target * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-connect,
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-style: flat;
  will-change: transform;
}

.noUi-connect {
  height: 0.5rem;
  background: var(--steam-green-700);
  cursor: pointer;

  @media (max-width: 768px) {
    height: 0.4rem;
  }
}

.noUi-base,
.noUi-connects {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.noUi-connects {
  z-index: 0;
  overflow: hidden;
  border-radius: 0.188rem;
}

.noUi-target {
  position: relative;
  border-radius: 0.25rem;
  background: var(--steam-green-1100);
  cursor: pointer;
}

.noUi-horizontal {
  height: 0.5rem;

  @media (max-width: 768px) {
    height: 0.4rem;
  }
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
