* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  font-family: 'Cerapro', sans-serif;
  font-weight: 400;
  background-color: var(--noble-white-100);
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 var(--small-offset);
  max-width: 1440px;
}
