@font-face {
  src:
    local('cerapro-black'),
    url('/public/fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('/public/fonts/cerapro-black-webfont.woff') format('woff');
  font-family: 'Cerapro';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local('cerapro-bold'),
    url('/public/fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('/public/fonts/cerapro-bold-webfont.woff') format('woff');
  font-family: 'Cerapro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local('cerapro-medium'),
    url('/public//fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('/public/fonts/cerapro-medium-webfont.woff') format('woff');
  font-family: 'Cerapro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local('cerapro-regular'),
    url('/public/fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('/public/fonts/cerapro-regular-webfont.woff') format('woff');
  font-family: 'Cerapro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
