:root {
  // body wrapper
  --wrapper-width: calc(var(--large-offset) * 18);

  // small vars
  --one: 0.0625rem; // 1px
  --two: 0.125rem; // 2px
  --five: 0.3125rem; // 5px

  // offsets
  --tiny-offset: calc(var(--extra-small-offset) / 2); // 10px
  --extra-small-offset: 1.25rem; // 20px
  --small-offset: 2.5rem; // 40px
  --medium-offset: 3.75rem; // 60px
  --large-offset: 5rem; // 80px
  --extra-large-offset: 6.25rem; // 100px

  // border-radius
  --large-br: var(--extra-small-offset); // 20px
  --medium-br: calc(var(--large-br) / 2); // 10px
  --small-br: calc(var(--large-br) / 4); // 5px

  // shadows
  --mellow-shadow-050: 0 0 20px rgb(0 0 0 / 6%);
  --mellow-shadow-100: rgb(0 0 0 / 19%) 0 10px 20px, rgb(0 0 0 / 23%) 0 6px 6px;
  --mellow-shadow-200: rgb(255 255 255 / 10%) 0 1px 1px 0 inset, rgb(50 50 93 / 25%) 0 50px 100px -20px,
    rgb(0 0 0 / 30%) 0 30px 60px -30px;
  --mellow-shadow-300: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px;
  --mellow-shadow-400: rgb(0 0 0 / 9%) 0 2px 1px, rgb(0 0 0 / 9%) 0 4px 2px, rgb(0 0 0 / 9%) 0 8px 4px,
    rgb(0 0 0 / 9%) 0 16px 8px, rgb(0 0 0 / 9%) 0 32px 16px;
  --mellow-shadow-500: 0 0 10px 0 rgb(0 0 0 / 10%);
  --mellow-shadow-600: 0 1px 5px #353535;

  // fonts
  --small-font: 400 0.625rem 'Cerapro', sans-serif; // 10px
  --regular-font: 400 0.8125rem 'Cerapro', sans-serif; // 13px
  --extra-regular-font: 400 1.5rem 'Cerapro', sans-serif; // 24px
  --medium-font: 500 1.25rem 'Cerapro', sans-serif; // 20px
  --extra-medium-font: 500 1.875rem 'Cerapro', sans-serif; // 30px
  --bold-font: 700 1rem 'Cerapro', sans-serif; // 16px
  --medium-bold-font: 700 1.125rem 'Cerapro', sans-serif; // 18px
  --extra-bold-font: 700 2.1875rem 'Cerapro', sans-serif; // 35px
  --black-font: 900 2.1875rem 'Cerapro', sans-serif; // 35px
  --extra-black-font: 900 2.5rem 'Cerapro', sans-serif; // 40px

  // 1440px
  body.light {
    // colors
    --white: #fff;
    --white-tr: #ffffffa9;
    --black: #000;
    --noble-white-100: #f5f5f5;
    --noble-white-200: #f0f0f0;
    --noble-gray-200: #eaeaea;
    --noble-gray-300: #cbcbcb;
    --noble-gray-400: #c4c4c4;
    --noble-gray-500: #acacac;
    --noble-gray-600: #a5a5a5;
    --noble-gray-700: #727272;
    --noble-gray-800: #3d3d3d;
    --noble-gray-tr-800: #acacacbd;
    --noble-gray-900: #1d1d1d;
    --noble-gray-1000: #1a1a1ab5;
    --red-power-600: #d0302f;
    --steam-green-300: #46a35880;
    --steam-green-350: #46a35937;
    --steam-green-400: #c8f4b4;
    --steam-green-500: #b6f09c;
    --steam-green-700: #70d27a;
    --steam-green-800: #46a358;
    --steam-green-gr-800: #8c998f2b;
  }

  body.dark {
    // colors
    --black: #fff;
    --white: #1a1a1a;
    --white-tr: #1a1a1ab0;
    --noble-white-100: #2b2b2b;
    --noble-white-200: #4a4a4a;
    --noble-gray-200: #f6f6f6;
    --noble-gray-300: #dcdbdb;
    --noble-gray-400: #ddd;
    --noble-gray-500: #cfcfcf;
    --noble-gray-600: #cdcdcd;
    --noble-gray-700: #b0b0b0;
    --noble-gray-800: #c4c4c4;
    --noble-gray-1000: #1a1a1ab5;
    --red-power-600: #d0302f;
    --steam-green-300: #46a35880;
    --steam-green-350: #46a35937;
    --steam-green-400: #c8f4b4;
    --steam-green-500: #b6f09c;
    --steam-green-700: #70d27a;
    --steam-green-800: #46a358;
    --steam-green-gr-800: #c5e1cb2b;
  }
}
