.filters {
  order: 1;
  outline: 2px solid var(--noble-white-200);
  border-radius: var(--medium-br);
  width: 20%;
  height: max-content;
  background-color: var(--noble-white-200);
}

.categoryList,
.sizesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--medium-br);
  width: 100%;
  background-color: var(--noble-white-200);
}

.categoryTitle,
.priceTitle,
.sizesTitle {
  padding: calc(var(--extra-small-offset));
  width: 100%;
  font: var(--medium-font);
  letter-spacing: 1px;
  text-align: left;
  color: var(--steam-green-500);
}

.categoryItem,
.sizeItem {
  width: 100%;
}

.categoryLink,
.sizeLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--small-offset) / 2) var(--extra-small-offset);
  width: 100%;
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--noble-gray-800);
  transition:
    color 0.2s,
    background-color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: var(--steam-green-400);
      background-color: var(--noble-white-100);
    }
  }

  &.activeLink {
    color: var(--steam-green-400);
    background-color: var(--noble-white-100);
    opacity: 1;
  }
}

.sizeLink {
  &.activeLink {
    cursor: default;
  }
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priceInput {
  border: 2px solid var(--noble-gray-800);
  border-radius: var(--small-br);
  padding: calc(var(--extra-small-offset) / 2);
  width: 85%;
  height: var(--extra-small-offset);
  max-width: 150px;
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--steam-green-800);
  background-color: var(--noble-white-200);
  transition:
    border-color 0.2s,
    background-color 0.2s;

  &:focus {
    border-color: var(--steam-green-400);
  }

  @media (hover: hover) {
    &:hover {
      border-color: var(--steam-green-400);
      background-color: var(--noble-white-100);
    }
  }
}

.priceLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--extra-small-offset);
  padding: 0 var(--extra-small-offset);
  width: 100%;
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--noble-gray-800);
  gap: var(--extra-small-offset);
}
