.registrationPage {
  position: relative;
  display: block;
  padding: 0 var(--small-offset);

  &_hidden {
    display: none;
  }
}

.authWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, max-content);
  margin: 0 auto;
  border-bottom: 10px solid var(--steam-green-800);
  border-radius: var(--medium-br);
  padding: calc(var(--large-offset) / 2) var(--small-offset);
  background-color: var(--white);
}

.linksWrapper {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: space-between;
  grid-column: 2 span;
  grid-row: 1;
  margin: 0 auto;
  margin-bottom: calc(var(--large-offset) / 2);
  width: max-content;

  &::after {
    content: '';
    position: absolute;
    right: calc(36% - 3px);
    top: 50%;
    width: 3px;
    height: 16px;
    background-color: var(--noble-gray-800);
    transform: translate(calc(-50% - 14px), -50%);
  }

  @media (max-width: 768px) {
    margin: 0 auto;
    margin-bottom: calc(var(--large-offset) / 2);
  }
}

.loginLink,
.registerSpan {
  font: var(--medium-font);
  letter-spacing: 1px;
}

.registerSpan {
  margin-left: 10%;
  color: var(--steam-green-800);
}

.loginLink {
  position: relative;
  margin-right: 20%;
  color: var(--noble-gray-800);
  transition: color 0.2s;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition:
      transform 0.2s,
      opacity 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--steam-green-800);

      &::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
}

.authDescription {
  grid-column: 2 span;
  grid-row: 2;
  margin-bottom: var(--extra-small-offset);
  font: var(--regular-font);
  letter-spacing: 1px;
  text-align: center;
}

.toLoginPageWrapper {
  display: flex;
  justify-content: center;
  grid-column: 2 span;
  grid-row: 4;
  font: var(--regular-font);
  text-align: center;
  color: var(--steam-green-800);
  gap: calc(var(--extra-small-offset) / 4);

  a {
    margin-right: 0;
    font: var(--regular-font);
  }
}
