.siteWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: var(--medium-offset) 0;
  width: 100%;
  min-height: calc(100vh - calc(var(--extra-small-offset) * 7.1));
}
