.siteWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0;
  width: 100%;
  min-height: calc(100vh - 141px);
  max-width: 1440px;
  background-image: url('../../../shared/img/tree.png');
  background-position: right bottom;
  background-size: 60dvh;
  background-repeat: no-repeat;
}
