.catalog {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--small-offset);
}

.itemsList {
  position: relative;
  display: grid;
  align-items: stretch;
  justify-content: center;
  order: 2;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  min-height: 500px;
  gap: var(--small-offset);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
