.catalog {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: var(--small-offset);

  @media (max-width: 768px) {
    gap: var(--tiny-offset);
  }
}

.leftWrapper {
  width: 30%;

  @media (max-width: 768px) {
    width: 35%;
  }
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;

  @media (max-width: 768px) {
    width: 65%;
  }
}

.rightTopWrapper {
  display: grid;
  margin-bottom: var(--extra-small-offset);
  outline: 2px solid var(--noble-white-200);
  border-radius: var(--medium-br) var(--medium-br) 0 0;
  background-color: var(--noble-white-200);
}

.rightBottomWrapper {
  height: 100%;
}

.itemsList {
  position: relative;
  display: grid;
  align-items: stretch;
  justify-content: center;
  order: 2;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: max-content max-content;
  margin-bottom: var(--tiny-offset);
  height: max-content;
  min-height: calc(var(--extra-large-offset) * 13.5);
  font-size: var(--regular-font);
  letter-spacing: var(--one);
  text-align: center;
  color: var(--steam-green-500);
  gap: var(--small-offset);

  @media (max-width: 970px) {
    grid-template-columns: repeat(2, max-content);
  }

  @media (max-width: 690px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 5300px) {
    grid-template-columns: repeat(4, max-content);
  }

  @media (min-width: 6600px) {
    grid-template-columns: repeat(5, max-content);
  }

  &.emptyList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url('../../../shared/img/png/notFound.png');
    background-position: center 0;
    background-size: calc(var(--extra-large-offset) * 3);
    background-repeat: no-repeat;
  }
}
