.catalog {
  position: relative;
  display: flex;
  justify-content: center;
  gap: var(--small-offset);
}

.leftWrapper {
  width: 20%;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.rightTopWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--extra-small-offset);
  outline: 2px solid var(--noble-white-200);
  border-radius: var(--medium-br);
  background-color: var(--noble-white-200);
}

.rightBottomWrapper {
  height: 100%;
}

.itemsList {
  position: relative;
  display: grid;
  align-items: stretch;
  justify-content: center;
  order: 2;
  grid-template-columns: repeat(3, auto);
  height: max-content;
  min-height: calc(var(--extra-large-offset) * 5); // 500px
  font-size: var(--regular-font);
  letter-spacing: 1px;
  text-align: center;
  color: var(--steam-green-500);
  gap: var(--small-offset);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &.emptyList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url('../../../shared/img/png/notFound.png');
    background-position: center 100px;
    background-size: calc(var(--extra-large-offset) * 4); // 400px
    background-repeat: no-repeat;
  }
}
