.loginForm {
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
  margin: 0 auto;
  margin-bottom: calc(var(--extra-small-offset) / 2);
  width: 100%;
  gap: var(--extra-small-offset);

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(var(--extra-small-offset) / 2);
  }

  input {
    border: 1px solid var(--noble-gray-200);
    border-radius: var(--small-br);
    padding: calc(var(--extra-small-offset) / 2) var(--extra-small-offset);
    font: var(--regular-font);
    letter-spacing: 1px;
    color: var(--noble-gray-800);
    transition: border 0.2s;

    &::placeholder {
      color: var(--noble-gray-600);
    }

    &:focus {
      border: 1px solid var(--steam-green-800);
    }

    @media (hover: hover) {
      &:hover {
        border: 1px solid var(--steam-green-800);
      }
    }
  }

  span {
    font: var(--regular-font);
    letter-spacing: 1px;
    text-align: center;
    color: var(--red-power-600);
  }
}

.submitFormButton {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: var(--small-br);
  padding: calc(var(--extra-small-offset) / 2) var(--small-offset);
  width: max-content;
  font: var(--bold-font);
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--steam-green-800);
  transition:
    color 0.2s,
    background-color 0.2s;

  &:focus {
    background-color: var(--steam-green-700);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--steam-green-700);
    }
  }

  &:disabled {
    background-color: var(--noble-gray-300);
    pointer-events: none;
  }
}

.showPasswordElement {
  position: absolute;
  right: 0;
  top: 17px;
  border-radius: var(--small-br);
  padding: calc(var(--extra-small-offset) / 8);
  width: 24px;
  height: 24px;
  background-color: transparent;
  transform: translate(-12%, 0);
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    stroke: var(--noble-gray-600);
    transition: stroke 0.2s;
  }

  &:focus {
    background-color: var(--noble-gray-200);

    svg {
      stroke: var(--steam-green-800);
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--noble-gray-200);

      svg {
        stroke: var(--steam-green-800);
      }
    }
  }

  @media (max-width: 768px) {
    top: 7px;
  }
}
