.modalSlider {
  margin: 0;
  width: 100%;
}

.modalSliderWrapper {
  height: auto;
}

.modalSliderImage {
  width: 100%;
  height: 100%;
}

.modalSliderSlide {
  /* stylelint-disable-next-line declaration-no-important */
  width: 40rem !important;
}

.modalCloseButton {
  position: absolute;
  right: 3rem;
  top: 2rem;
  z-index: 1;
  font: var(--extra-bold-font);
  font-weight: 400;
  color: var(--steam-green-800);
  transition: color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: var(--steam-green-700);
    }
  }
}

.navigationWrapper {
  position: absolute;
  left: -1.5rem;
  right: -1.5rem;
  top: 50%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.nextSlideButton,
.prevSlideButton {
  position: relative;
  display: block;
  border: 0.1rem solid var(--noble-gray-200);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font: var(--extra-medium-font);
  color: var(--steam-green-800);
  background-color: var(--noble-gray-1000);
  transition:
    color 0.2s,
    border-color 0.2s;

  @media (hover: hover) {
    &:hover {
      border-color: var(--steam-green-400);
      color: var(--steam-green-700);
    }
  }
}

.nextSlideButton {
  &::after {
    content: '↑';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.prevSlideButton {
  &::after {
    content: '↑';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}
