.cardItem {
  background-color: var(--white);
  transition:
    box-shadow 0.2s,
    color 0.2s,
    transform 0.2s;

  &:hover {
    box-shadow: var(--mellow-shadow-500);

    .reed {
      color: var(--steam-green-800);
    }
  }
}

.img {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}

.dataTime {
  margin: 0 var(--extra-small-offset);
  font: var(--regular-font);
  color: var(--steam-green-800);
}

.wrapImage {
  width: 100%;
}

.title {
  margin: 0 var(--extra-small-offset);
  max-width: 75%;
  font: var(--extra-regular-font);
  letter-spacing: var(--one);
  color: var(--black);
}

.short .title {
  font: var(--regular-font);
}

.shortDescription {
  margin: 0 var(--extra-small-offset);
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--noble-gray-700);
}

.short .shortDescription {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.reed {
  display: block;
  margin: 0 var(--extra-small-offset);
  margin-top: 0;
  font: var(--regular-font);
  color: var(--black);
  transition: color 0.2s;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: var(--extra-small-offset);
  width: 100%;
  transition: box-shadow 0.2s;
  cursor: pointer;
  gap: 0.5rem;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: var(--extra-large-offset);
  background-color: rgba($color: #46a358, $alpha: 10%);
  gap: 0.5rem;
}

.info {
  display: block;
  margin: 0 auto;
  padding: var(--small-offset);
  background-color: var(--white);

  @media (max-width: 768px) {
    margin: 0 var(--small-offset);
  }
}

.list {
  margin: var(--extra-small-offset);
  font: var(--extra-regular-font);
  letter-spacing: var(--one);
  color: var(--noble-gray-800);
}

.item {
  margin: var(--small-offset);
  letter-spacing: var(--one);
  color: var(--noble-gray-700);
}

.paragraph {
  margin: var(--small-offset);
  letter-spacing: var(--one);
  color: var(--noble-gray-700);
}

.headText {
  margin: var(--extra-small-offset);
  font: var(--extra-regular-font);
  letter-spacing: var(--one);
  color: var(--noble-gray-800);
}

.post {
  margin: 0 auto;
  width: 75%;

  @media (max-width: 768px) {
    width: auto;
  }
}
