.cardItem {
  max-width: 270px;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .reed {
      color: var(--steam-green-800);
    }
  }
}

.img {
  width: 100%;
}

.dataTime {
  font: var(--regular-font);
  color: var(--steam-green-800);
  margin: 0 var(--extra-small-offset);
}

.wrapImage {
  width: 100%;
}

.title {
  font: var(--extra-regular-font);
  color: var(--black);
  margin: 0 var(--extra-small-offset);
}

.shortDescription {
  font: var(--regular-font);
  color: var(--noble-gray-700);
  margin: 0 var(--extra-small-offset);
}

// .wrapLink {
//   display: flex;
//   align-items: center;
//   gap: 0.5rem;
//   margin: var(--extra-small-offset);
//   margin-top: 0;
// }

.reed {
  display: block;
  font: var(--regular-font);
  color: var(--black);
  transition: color 0.2s;
  margin: 0 var(--extra-small-offset);
  margin-top: 0;
}

.link {
  width: 100%;
  // display: block;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  background-color: var(--white);
  cursor: pointer;
  transition: box-shadow 0.2s;
  padding-bottom: var(--extra-small-offset);
  // font: var(--regular-font);
  // color: var(--black);
  // transition: color 0.2s;
  // margin: var(--extra-small-offset);
  // margin-top: 0;
}
