.style {
  display: block;
}

.td {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mainText {
  padding: var(--tiny-offset);
  font: var(--extra-font);
  color: var(--noble-gray-800);
}

.deleteCell {
  grid-area: 2 / 6 / 4 / 7;

  @media (max-width: 768px) {
    position: absolute;
    right: -10%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: auto;
    grid-row: auto;
    transform: translate(calc(var(--small-offset) / 2), calc(var(--small-offset) / 2 * -1));
  }
}

.hide {
  @media (max-width: 768px) {
    display: none;
  }
}

.deleteButton {
  svg {
    width: var(--extra-small-offset);
    height: var(--extra-small-offset);
    stroke: var(--noble-gray-800);
    transition: fill 0.2s;

    @media (max-width: 768px) {
      width: var(--small-offset);
      height: var(--small-offset);
      stroke: var(--steam-green-800);
    }
  }

  &:hover {
    svg {
      stroke: var(--steam-green-800);
    }
  }
}

.tr {
  display: grid;
  grid-gap: 0;
  grid-template-columns: calc(var(--tiny-offset) * 10) 2fr 1fr 1fr 1fr calc(var(--tiny-offset) * 7);
  margin-bottom: var(--tiny-offset);
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: calc(var(--tiny-offset) * 10) 2fr 1fr;
  }
}

.trProduct {
  background-color: var(--white);
  transition: transform 0.3s ease-out;

  @media (max-width: 768px) {
    position: relative;
    z-index: 10;
    margin-bottom: var(--extra-small-offset);
    border-radius: var(--medium-br);
    box-shadow: var(--mellow-shadow-050);
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    border-radius: var(--medium-br) 0 0 var(--medium-br);
    width: 100%;
    height: 100%;
  }
}

.nameCell {
  justify-content: flex-start;
  grid-area: 2 / 2 / 3 / 3;
  padding: 0 var(--tiny-offset);

  @media (max-width: 768px) {
    grid-area: 1 / 2 / 2 / 3;
    padding: var(--tiny-offset);
    padding-bottom: 0;
  }
}

.imgCell {
  grid-area: 2 / 1 / 4 / 2;

  @media (max-width: 768px) {
    grid-area: 1 / 1 / 4 / 2;
  }
}

.sizeCell {
  justify-content: flex-start;
  grid-area: 3 / 2 / 4 / 3;
  padding: 0 var(--tiny-offset);

  @media (max-width: 768px) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.priceCell {
  grid-area: 2 / 3 / 4 / 4;

  @media (max-width: 768px) {
    display: none;
  }
}

.quantityCell {
  grid-area: 2 / 4 / 4 / 5;

  @media (max-width: 768px) {
    grid-area: 1 / 3 / 4 / 4;
  }
}

.totalCell {
  grid-area: 2 / 5 / 4 / 6;

  @media (max-width: 768px) {
    justify-content: flex-start;
    grid-area: 3 / 2 / 4 / 3;
    padding: 0 var(--tiny-offset);
  }
}

.quantityText {
  padding: var(--tiny-offset);
  font: var(--regular-font);
  color: var(--noble-gray-800);
}

.totalText {
  padding: var(--tiny-offset);
  font: var(--bold-font);
  color: var(--steam-green-800);
}

.priceText {
  padding: var(--tiny-offset) 0;
  font: var(--regular-font);
  color: var(--noble-gray-700);
}

.sizeText {
  padding: var(--tiny-offset);
  font: var(--regular-font);
  text-align: left;
  color: var(--noble-gray-700);

  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.quantityButton {
  border-radius: 50%;
  width: calc(var(--tiny-offset) * 2.5);
  height: calc(var(--tiny-offset) * 2.5);
  color: var(--noble-gray-200);
  background-color: var(--steam-green-800);
}

.mobileHide {
  @media (max-width: 768px) {
    display: none;
  }
}
