@import 'src/app/styles/mixins';

.addressItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2 span;
  max-width: 100%;
  word-break: break-all;
}

.addressType {
  margin: var(--tiny-offset) var(--five);
  border-radius: var(--medium-br);
  padding: var(--tiny-offset);
  font: var(--small-font);
  background-color: var(--steam-green-900);
  transition: scale 0.2s;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.billing {
  background-color: #d5e4f9;
}

.shipping {
  background-color: #e9fffe;
}

.defaultBilling {
  background-color: #dfd6ef;
}

.defaultShipping {
  background-color: #fee1c9;
}

.inactive {
  background-color: var(--noble-gray-tr-800);
}

.editLogo,
.deleteLogo {
  @include logo;

  width: calc(var(--extra-small-offset) * 1.5);
  height: calc(var(--extra-small-offset) * 1.5);
}

.editButton,
.deleteButton {
  @include green-btn;

  margin: var(--tiny-offset);
  padding: var(--five);

  @media (hover: hover) {
    &:hover {
      svg {
        fill: var(--noble-gray-1000);
        transition: fill 0.2s;
      }
    }
  }
}
