.info {
  grid-column: 2 span;
  max-width: 100%;
  word-break: break-all;
}

.deleteLogo,
.editLogo {
  display: flex;
  margin: 0 auto;

  svg {
    z-index: 1;
    width: var(--extra-small-offset);
    height: var(--extra-small-offset);
    fill: var(--noble-gray-900);
    transition: 0.2s;
  }
}

.deleteButton,
.editButton {
  display: flex;
  margin: var(--tiny-offset);
  border-radius: var(--medium-br);
  padding: var(--tiny-offset);
  height: max-content;
  max-width: max-content;
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--steam-green-800);
  transition:
    color 0.2s,
    background-color 0.2s;

  &:focus {
    background-color: var(--steam-green-700);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--steam-green-700);

      svg {
        fill: var(--noble-gray-1000);
      }
    }
  }

  &:disabled {
    background-color: var(--noble-gray-300);
    pointer-events: none;
  }
}
