.itemPage {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 var(--small-offset);
  animation: show 0.2s ease-out forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

.fullDescriptionWrapper {
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);
}

.fullDescription {
  font: var(--regular-font);
  color: var(--noble-gray-800);
}
