.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  outline: 2px solid var(--noble-gray-300);
  border-radius: var(--medium-br);
  min-height: 350px;
  max-width: 270px;
  transition:
    outline 0.2s,
    transform 0.2s;

  @media (hover: hover) {
    &:hover {
      outline: 2px solid var(--steam-green-800);
      transform: scale(0.98);

      .productImage {
        transform: scaleY(0.9);
      }
    }
  }
}

.productImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--medium-br) var(--medium-br) 0 0;
  width: 100%;
  height: 270px;
}

.productImage {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: calc(var(--extra-small-offset) / 2) calc(var(--extra-small-offset) / 4);
  width: 100%;
  height: 70%;
  background-color: var(--noble-white-200);
}

.productName {
  font: var(--medium-font);
  letter-spacing: 1px;
  text-align: center;
  color: var(--steam-green-500);
}

.productShortDescription {
  display: -webkit-box;
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  font: var(--regular-font);
  letter-spacing: 1px;
  text-align: left;
  text-overflow: ellipsis;
  color: var(--noble-gray-400);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &.active {
    display: block;
    white-space: unset;
  }
}

.productLink {
  position: absolute;
  inset: 0;
}

.moreButton {
  position: relative;
  z-index: 1;
  align-self: flex-end;
  margin-top: calc(var(--extra-small-offset) * (-0.2));
  margin-right: 5px;
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--steam-green-700);
  transition: color 0.2s;

  @media (hover: hover) {
    &:hover {
      color: var(--steam-green-400);
    }
  }
}

.hidden {
  display: none;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  gap: var(--extra-small-offset);
}

.oldPrice {
  font: var(--regular-font);
  font-weight: 100;
  letter-spacing: 1px;
  text-decoration: line-through;
  color: var(--noble-gray-700);
}

.basicPrice {
  font: var(--medium-font);
  letter-spacing: 1px;
  color: var(--steam-green-500);

  &.gray {
    color: var(--noble-gray-700);
  }
}
