.notFoundPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 var(--small-offset);
  border-bottom: calc(var(--extra-small-offset) / 2) solid var(--steam-green-800);
  border-radius: var(--medium-br);
  padding: var(--small-offset);
  padding-bottom: calc(var(--extra-large-offset) / 2 + calc(var(--extra-small-offset) / 2));
  max-width: calc(var(--extra-large-offset) * 5);
  background-color: var(--white);
  animation: show 0.2s ease-out forwards;
  gap: var(--extra-small-offset);
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

.pageLogo {
  display: flex;
  margin: 0 auto;

  svg {
    width: var(--large-offset);
    height: var(--large-offset);
    fill: var(--steam-green-800);
  }
}

.pageTitle {
  display: flex;
  margin: 0 auto;
  font: var(--extra-medium-font);
  letter-spacing: 1px;
  color: var(--steam-green-800);
}

.pageDescription {
  font: var(--regular-font) '*' 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: var(--noble-gray-700);
}

.toMainButton {
  align-self: center;
  border-radius: var(--small-br);
  padding: calc(var(--extra-small-offset) / 2) var(--small-offset);
  width: max-content;
  font: var(--bold-font);
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--steam-green-800);
  transition:
    color 0.2s,
    background-color 0.2s;

  &:focus {
    background-color: var(--steam-green-700);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--steam-green-700);
    }
  }
}
