.switchToWishListButton {
  position: relative;
  outline: calc(var(--one) * 1.5) solid var(--noble-gray-700);
  border-radius: var(--medium-br);
  padding: var(--tiny-offset);
  width: var(--small-offset);
  height: var(--small-offset);
  background-color: var(--white-tr);
  transition: outline 0.2s;
  backdrop-filter: blur(10px);

  svg {
    width: var(--extra-small-offset);
    height: var(--extra-small-offset);
    fill: transparent;
    stroke: var(--noble-gray-700);
    stroke-width: 4.5px;
    transition:
      fill 0.2s,
      stroke 0.2s;
  }

  &:active {
    transform: scale(0.9);
  }

  @media (hover: hover) {
    &:hover {
      outline: calc(var(--one) * 1.5) solid var(--steam-green-1200);

      svg {
        fill: var(--steam-green-1200);
        stroke: var(--steam-green-1200);
      }
    }
  }

  &:disabled {
    filter: opacity(0.5);
    pointer-events: none;
  }

  &.inWishList {
    @media (hover: hover) {
      &:hover {
        outline: calc(var(--one) * 1.5) solid var(--noble-gray-700);

        svg {
          fill: transparent;
          stroke: var(--noble-gray-700);
        }
      }
    }
  }
}

.inWishList {
  outline: calc(var(--one) * 1.5) solid var(--steam-green-1200);

  svg {
    fill: var(--steam-green-1200);
    stroke: var(--steam-green-1200);
  }
}
