.loader {
  margin: 0 calc(var(--extra-small-offset) / 4);
  border: 2px solid var(--noble-gray-200);
  border-top: 2px solid var(--steam-green-800);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.small {
  border: 4px solid var(--noble-gray-200);
  border-top: 4px solid var(--steam-green-800);
  width: 20px;
  height: 20px;
}

.medium {
  border: 5px solid var(--noble-gray-200);
  border-top: 5px solid var(--steam-green-800);
  width: 30px;
  height: 30px;
}

.large {
  border: 10px solid var(--noble-gray-200);
  border-top: 10px solid var(--steam-green-800);
  width: 40px;
  height: 40px;
}

.extraLarge {
  border: 10px solid var(--noble-gray-200);
  border-top: 10px solid var(--steam-green-800);
  width: 80px;
  height: 80px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
