.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  text-align: center;
  gap: var(--extra-small-offset);
}

.oldPrice {
  font: var(--regular-font);
  font-weight: 100;
  letter-spacing: var(--one);
  text-decoration: line-through;
  color: var(--noble-gray-700);
}

.basicPrice {
  font: var(--medium-font);
  letter-spacing: var(--one);
  color: var(--steam-green-500);

  &.gray {
    color: var(--noble-gray-700);
  }
}

.productCardPriceWrapper {
  .priceWrapper {
    order: 2;
  }
}

.productDetailsPriceWrapper {
  .priceWrapper {
    justify-content: start;
    order: 2;
    margin-top: 0;

    @media (max-width: 768px) {
      align-items: center;
      justify-content: center;
      justify-self: end;
      grid-row: 1;
      width: max-content;
    }
  }
}
