@import 'src/app/styles/mixins';

.addressesWrapper {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto);
  margin: 0 var(--small-offset);
  padding: var(--small-offset);
  width: 60%;
  height: max-content;
  box-shadow: var(--mellow-shadow-100);
  font: var(--extra-regular-font);
  letter-spacing: 1px;
  color: var(--noble-gray-900);
  background-color: var(--steam-green-900);
  gap: var(--small-offset);
}

.shippingLogo,
.billingLogo {
  @include logo;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.createAddressButton {
  @include round-btn;

  padding: var(--extra-small-offset);
}

.addressesListWrapper {
  grid-column: 2 span;
}
