@import 'src/app/styles/mixins';

.addressesWrapper {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto);
  margin: 0 var(--small-offset);
  padding: var(--small-offset);
  width: 60%;
  height: max-content;
  box-shadow: var(--mellow-shadow-100);
  font: var(--extra-regular-font);
  letter-spacing: 1px;
  color: var(--noble-gray-900);
  background-color: var(--noble-gray-tr-800);
  gap: var(--small-offset);
}

.shippingLogo,
.billingLogo {
  display: flex;
  margin: 0 auto;

  svg {
    z-index: 1;
    width: var(--small-offset);
    height: var(--small-offset);
    fill: var(--noble-gray-900);
    transition: 0.2s;
  }
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.createAddressButton {
  @include green-btn;

  // border-radius: 50%; // ??
  padding: var(--extra-small-offset);

  @media (hover: hover) {
    &:hover {
      svg {
        fill: var(--noble-gray-1000);
      }
    }
  }
}
