@import 'src/app/styles/mixins';

.addressesWrapper {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--small-offset);
  width: 100%;
  height: max-content;
  font: var(--extra-regular-font);
  letter-spacing: 1px;
  color: var(--noble-gray-900);
  background-color: var(--steam-green-900);
  gap: var(--small-offset);
}

.shippingLogo,
.billingLogo {
  @include svg-logo;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.createAddressButton {
  @include round-btn;
}

.addressesListWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  grid-column: 2 span;
  width: 100%;
  gap: var(--extra-small-offset);
}

.disabled {
  pointer-events: none;
}
