.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--small-offset);
  gap: var(--small-offset);
}

.leftWrapper {
  display: flex;
  max-width: 50%;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.title {
  order: 1;
  margin-bottom: var(--extra-small-offset);
  font: var(--medium-font);
  letter-spacing: var(--one);
  color: var(--steam-green-500);
}

.smallSlider {
  margin: 0;
  margin-right: var(--tiny-offset);
}

.smallSliderImage {
  width: 100%;
  max-height: 8rem;
}

.smallSliderSlide {
  /* stylelint-disable-next-line declaration-no-important */
  height: auto !important;
  max-height: 8rem;
  transition: opacity 0.2s;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: var(--tiny-offset);
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.bigSlider {
  margin: 0;
  width: 70%;
}

.bigSliderWrapper {
  height: 8rem;
}

.bigSliderImage {
  height: 100%;
}

.bigSliderSlide {
  cursor: zoom-in;
}

.shortDescriptionWrapper {
  order: 3;
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);
}

.shortDescription,
.fullDescription {
  margin-bottom: var(--extra-small-offset);
  font: var(--regular-font);
  color: var(--noble-gray-800);
}

.sizesWrapper {
  display: grid;
  order: 4;
  grid-template-columns: max-content;
  margin-bottom: var(--extra-small-offset);
  width: max-content;
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);
  gap: var(--tiny-offset);
}

.sizeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  grid-row: 2;
  border: var(--one) solid var(--noble-gray-800);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font: var(--regular-font);
  letter-spacing: var(--one);
  text-align: center;
  color: var(--noble-gray-800);
  transition:
    border 0.2s,
    color 0.2s;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      border: var(--one) solid var(--steam-green-400);
      color: var(--steam-green-400);
    }
  }
}

.selected {
  border: var(--one) solid var(--steam-green-400);
  color: var(--steam-green-400);
  pointer-events: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.SCUSpan,
.categoriesSpan {
  margin-bottom: var(--extra-small-offset);
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--noble-gray-800);
}

/* stylelint-disable-next-line selector-class-pattern */
.SCUSpan {
  order: 5;
}

.categoriesSpan {
  order: 6;
}

.currentSCU,
.currentCategories {
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);
}
