.wrapper {
  display: flex;
}

.leftWrapper {
  width: 40%;
}

.rightWrapper {
  width: 60%;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  text-align: center;
  gap: var(--extra-small-offset);
}

.oldPrice {
  font: var(--regular-font);
  font-weight: 100;
  letter-spacing: 1px;
  text-decoration: line-through;
  color: var(--noble-gray-700);
}

.basicPrice {
  font: var(--medium-font);
  letter-spacing: 1px;
  color: var(--steam-green-500);

  &.gray {
    color: var(--noble-gray-700);
  }
}
