@import 'src/app/styles/mixins';

.wrapper {
  display: grid;
  grid-column: 2 span;
  grid-template-rows: repeat((2, max-content));
  border-bottom: var(--tiny-offset) solid var(--steam-green-800);
  padding: var(--small-offset);
  width: 100%;
  min-height: calc(var(--extra-large-offset) * 2.1);
  max-width: calc(var(--extra-large-offset) * 4);
  background-color: var(--white-tr);
  gap: var(--extra-small-offset);
}

.userMessage {
  grid-column: 2 span;
  grid-row: 1;
  padding: var(--extra-small-offset);
  font: var(--extra-regular-font);
  letter-spacing: var(--one);
  text-align: center;
  color: var(--steam-green-800);
  cursor: default;
}

.cancelButton,
.confirmButton {
  @include green-btn;

  grid-row: 2;
}

.cancelButton {
  grid-column: 1;
}

.confirmButton {
  grid-column: 2;
}
