.wrapper {
  display: grid;
  place-items: center center;
  grid-template-rows: repeat(4, auto);
  border-bottom: var(--tiny-offset) solid var(--steam-green-800);
  padding: var(--small-offset);
  width: calc(var(--extra-large-offset) * 3);
  height: max-content;
  background-color: var(--noble-white-100);
  gap: var(--extra-small-offset);
}

.saveChangesButton,
.cancelButton {
  margin: 0 auto;
  border-radius: var(--medium-br);
  padding: calc(var(--small-offset) / 3) var(--small-offset);
  height: max-content;
  max-width: max-content;
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--steam-green-800);
  transition:
    color 0.2s,
    background-color 0.2s;

  &:focus {
    background-color: var(--steam-green-700);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--steam-green-700);
    }
  }

  &:disabled {
    background-color: var(--noble-gray-300);
    pointer-events: none;
  }
}

.saveChangesButton {
  display: flex;
  grid-row: 3;
}

.cancelButton {
  grid-row: 4;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1;
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--noble-gray-800);
  gap: calc(var(--extra-small-offset) / 2);
}

.label:first-child {
  grid-row: 1;
}

.label:last-child {
  grid-row: 2;
}

.input {
  border: 1px solid var(--noble-gray-200);
  border-radius: var(--small-br);
  padding: calc(var(--extra-small-offset) / 2) var(--extra-small-offset);
  padding-right: calc(var(--small-offset) * 1.5);
  font: var(--regular-font);
  letter-spacing: 1px;
  color: var(--noble-gray-800);
  transition: border 0.2s;
  cursor: text;

  &::placeholder {
    color: var(--noble-gray-600);
  }

  &:focus {
    border: 1px solid var(--steam-green-800);
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid var(--steam-green-800);
    }
  }
}

.showPasswordElement {
  position: absolute;
  right: 0.5rem;
  top: 2.05rem;
  border-radius: var(--small-br);
  padding: calc(var(--extra-small-offset) / 8);
  width: calc(var(--extra-small-offset) * 1.2); // 24px
  height: calc(var(--extra-small-offset) * 1.2); // 24px
  background-color: transparent;
  transition: background-color 0.2s;
  cursor: pointer;

  svg {
    width: var(--extra-small-offset); // 20px
    height: var(--extra-small-offset); // 20px
    stroke: var(--noble-gray-600);
    transition: stroke 0.2s;
  }

  &:focus {
    background-color: var(--noble-gray-200);

    svg {
      stroke: var(--steam-green-800);
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--noble-gray-200);

      svg {
        stroke: var(--steam-green-800);
      }
    }
  }
}
