@import 'src/app/styles/mixins';

.wrapper {
  border-bottom: var(--tiny-offset) solid var(--steam-green-800);
  padding: var(--small-offset);
  height: max-content;
  background-color: var(--noble-white-100);
}

.saveChangesButton,
.cancelButton {
  @include green-btn;
}
