@import 'src/app/styles/mixins';

.footer {
  margin-bottom: var(--small-offset);
  padding: 0 var(--small-offset);
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.socialWrap {
  display: flex;
  flex-direction: column;
}

.navigateWrap,
.goalsSubWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--extra-small-offset);
  width: 100%;
  background-color: var(--white-tr);
}

.socialPayWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--extra-small-offset);
  gap: var(--extra-small-offset);
}

.navListWrap,
.navigateWrap {
  justify-content: space-between;
  gap: var(--extra-small-offset);

  @media (max-width: 768px) {
    justify-content: space-evenly;
  }
}

.navListWrap {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.goalsWrap {
  display: flex;
  flex: 1 1 auto;
  flex-basis: 70%;
  justify-content: space-around;
  gap: var(--tiny-offset);

  @media (max-width: 768px) {
    flex-basis: 50%;
    flex-direction: column;
  }
}

.goalTextWrap {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.subWrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: var(--extra-small-offset);
}

.goal {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--tiny-offset);
  gap: var(--tiny-offset);

  &:not(:last-child) {
    border-right: var(--one) solid var(--steam-green-1000);
  }

  @media (max-width: 768px) {
    flex-direction: row;
    border: none;

    &:not(:last-child) {
      border-right: none;
    }
  }
}

.goalImgWrap {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: var(--tiny-offset);
    display: block;
    border-radius: 100%;
    width: var(--large-offset);
    height: var(--large-offset);
    background-color: var(--steam-green-1000);
  }
}

.goalImage {
  z-index: 2;
  margin-left: var(--tiny-offset);
  height: auto;
  min-width: var(--large-offset);
  min-height: var(--extra-large-offset);
  max-width: var(--large-offset);
  max-height: var(--extra-large-offset);
  object-fit: contain;
}

.goalTitle {
  padding: var(--tiny-offset) 0;
  font: var(--bold-font);
  color: var(--black);
}

.navItem,
.goalsDescription,
.subDescription {
  padding: var(--tiny-offset) 0;
  font: var(--regular-font);
  word-wrap: break-word;
  color: var(--noble-gray-700);
}

.goalsDescription {
  max-width: calc(var(--extra-large-offset) * 3);

  @media (max-width: 768px) {
    max-width: none;
  }
}

.subDescription {
  max-width: calc(var(--extra-large-offset) * 3);
}

.navTitle,
.payTitle,
.subTitle {
  padding: var(--tiny-offset) 0 var(--extra-small-offset);
  font: var(--medium-bold-font);
  color: var(--black);
}

.subForm {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.subInput {
  border-radius: var(--small-br);
  padding: calc(var(--extra-small-offset) * 0.8) var(--tiny-offset);
  width: 100%;
  box-shadow: var(--mellow-shadow-050);
  font: var(--regular-font);
  color: var(--noble-gray-400);
}

.subButton {
  @include green-btn;

  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 var(--small-br) var(--small-br) 0;
  padding: var(--tiny-offset) var(--extra-small-offset);
  height: 100%;
  font: var(--medium-bold-font);

  &:active {
    transform: scale(1);
  }
}

.contactWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--extra-small-offset);
  width: 100%;
  background-color: var(--steam-green-1000);
  gap: 10%;
}

.contactItemsWrap {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--extra-small-offset);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.logoImage {
  margin: 0 auto;
  width: calc(var(--extra-large-offset) * 1.5);
  height: calc(var(--extra-small-offset) * 1.7);

  @media (max-width: 484px) {
    margin-bottom: var(--extra-small-offset);
  }
}

.contactItem {
  display: flex;
  flex-basis: 25%;
  align-items: center;
  gap: var(--tiny-offset);
}

.contactIcon {
  width: var(--extra-small-offset);
  height: var(--extra-small-offset);
}

.contactText {
  font: var(--regular-font);
  color: var(--noble-gray-800);
}

.linkWrap {
  display: flex;
  align-items: center;
  gap: var(--tiny-offset);
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--one) solid var(--steam-green-300);
  border-radius: var(--small-br);
  padding: var(--tiny-offset);
  width: var(--small-offset);
  height: var(--small-offset);
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: var(--steam-green-1000);
  }
}

.payImgWrap {
  display: flex;
  align-items: center;
  gap: var(--tiny-offset);
}

.payImg {
  width: var(--small-offset);
  height: var(--small-offset);
}

.link {
  cursor: pointer;

  &:hover {
    color: var(--steam-green-800);
  }
}

.inactive {
  opacity: 0.5;
  cursor: default;

  &:hover {
    color: var(--noble-gray-700);
  }
}

.navTitle {
  flex-basis: 30%;

  @media (max-width: 768px) {
    flex-basis: max-content;
  }
}
