.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--medium-offset);
  border-top: 10px solid var(--steam-green-800);
  border-radius: var(--medium-br);
  padding: calc(var(--small-offset) / 2) var(--small-offset);
  background-color: var(--white);
}
