.footer {
  border-top: 1px solid var(--steam-green-300);
  padding: 0 var(--small-offset);
  width: 100%;
  background-color: var(--white);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
