@import 'src/app/styles/mixins';

.userInfoWrapper {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  margin: 0 var(--small-offset);
  padding: var(--small-offset);
  width: 60%;
  font: var(--extra-regular-font);
  line-break: break-all;
  letter-spacing: var(--one);
  color: var(--noble-gray-900);
  background-color: var(--steam-green-900);
  gap: var(--small-offset);
}

.keyLogo {
  @include logo;
}

.editPasswordButton {
  @include round-btn;

  grid-column: 2;
  grid-row: 1;
  margin-right: 0;
  margin-left: auto;
}

.info {
  grid-column: 2 span;
  max-width: 100%;
  word-break: break-all;
}

.editInfoButton {
  @include green-btn;

  grid-column: 2 span;
  grid-row: 6;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
