@import 'src/app/styles/mixins';

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--medium-br);
  width: 100%;
  background-color: var(--noble-gray-1200);
  transition:
    box-shadow 0.2s,
    transform 0.2s,
    scale 0.2s;
  cursor: pointer;

  &:active {
    transform: translateY(0);
    scale: 0.95;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: var(--mellow-shadow-300);
      transform: translateY(-0.3rem);
    }
  }

  @media (max-width: 840px) {
    max-width: 80%;

    &:nth-of-type(2n + 2) {
      margin-left: auto;
    }
  }

  @media (max-width: 576px) {
    max-width: 100%;

    &:nth-of-type(2n + 2) {
      margin-left: none;
    }
  }
}

.cover {
  height: 2.5rem;
}

.labelsList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--tiny-offset);
  padding: var(--tiny-offset) var(--extra-small-offset) 0;
  gap: var(--tiny-offset);
}

.label {
  border-radius: var(--small-br);
  pointer-events: none;
}

.labelName {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--two) var(--five);
  font: var(--regular-font);
  letter-spacing: var(--one);
}

.bottomWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 var(--extra-small-offset);
}

.fullName,
.position,
.githubName {
  margin-bottom: var(--tiny-offset);
  font: var(--regular-font);
  letter-spacing: var(--one);
}

.position {
  display: flex;
  align-items: center;
  color: var(--noble-gray-700);
  gap: var(--two);

  svg {
    width: calc(var(--tiny-offset) * 1.5);
    height: calc(var(--tiny-offset) * 1.5);
    transition: fill 0.2s;
  }
}

.fullName {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--noble-gray-800);
  gap: var(--two);

  svg {
    width: var(--extra-small-offset);
    height: var(--extra-small-offset);
    transition: stroke 0.2s;
  }
}

.githubName {
  @include link;

  margin-bottom: 0;
  padding: 0;
  padding-bottom: var(--two);
  height: max-content;
  max-width: max-content;
  font: var(--regular-font);
  text-transform: none;
}

.githubWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: auto;
  margin-bottom: var(--tiny-offset);
  gap: var(--tiny-offset);
}

.avatar {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  background-size: cover;
  transition: filter 0.2s;

  @media (hover: hover) {
    &:hover {
      filter: brightness(1.15);
    }
  }
}

.shortDescription {
  margin: auto 0;
  font: var(--regular-font);
  line-height: 170%;
  letter-spacing: var(--one);
  color: var(--noble-gray-700);
}
