@import 'src/app/styles/mixins';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--small-offset);
  gap: var(--small-offset);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.leftWrapper {
  display: flex;
  max-width: 50%;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: var(--extra-small-offset);

  @media (max-width: 768px) {
    width: 100%;
    gap: var(--tiny-offset);
  }
}

.productTitle {
  order: 1;
  font: var(--medium-font);
  letter-spacing: var(--one);
  color: var(--steam-green-500);

  @media (max-width: 768px) {
    text-align: center;
  }
}

.smallSlider {
  margin: 0;
  margin-right: var(--tiny-offset);
}

.smallSliderImage {
  width: 100%;
  max-height: 8rem;
}

.smallSliderSlide {
  /* stylelint-disable-next-line declaration-no-important */
  height: auto !important;
  max-height: 8rem;
  transition: opacity 0.2s;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: var(--tiny-offset);
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.bigSlider {
  margin: 0;
  width: 70%;
}

.bigSliderWrapper {
  height: 8rem;
}

.bigSliderImage {
  height: 100%;
}

.bigSliderSlide {
  cursor: zoom-in;
}

.shortDescriptionWrapper {
  order: 3;
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);

  @media (max-width: 768px) {
    text-align: center;
  }
}

.shortDescription,
.fullDescription {
  font: var(--regular-font);
  color: var(--noble-gray-800);

  @media (max-width: 768px) {
    text-align: center;
  }
}

.sizesWrapper {
  display: flex;
  align-items: center;
  order: 4;
  width: max-content;
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);
  gap: var(--tiny-offset);

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
}

.sizeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--one) solid var(--noble-gray-800);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font: var(--regular-font);
  letter-spacing: var(--one);
  text-align: center;
  color: var(--noble-gray-800);
  transition:
    border 0.2s,
    color 0.2s;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      border: var(--one) solid var(--steam-green-400);
      color: var(--steam-green-400);
    }
  }

  @media (max-width: 768px) {
    grid-row: none;
  }
}

.selected {
  border: var(--one) solid var(--steam-green-400);
  color: var(--steam-green-400);
  pointer-events: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.SKUSpan,
.categoriesSpan {
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--noble-gray-800);

  @media (max-width: 768px) {
    align-self: center;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.SKUSpan {
  display: flex;
  align-items: center;
  order: 6;

  svg {
    width: 1rem;
    height: 1rem;
    fill: transparent;
    stroke: var(--steam-green-800);
    transition: stroke 0.2s;
    cursor: copy;

    @media (hover: hover) {
      &:hover {
        stroke: var(--steam-green-400);
      }
    }
  }
}

.categoriesSpan {
  order: 7;
}

.currentSKU,
.currentCategories {
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);
}

.currentSKU {
  text-align: center;
  background-color: transparent;
  pointer-events: none;
}

.switchToCartButton {
  @include green-btn;

  padding: calc(var(--small-offset) / 3) calc(var(--small-offset) / 2);
  width: 100%;
  max-width: 12rem;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  order: 5;
  gap: var(--tiny-offset);

  @media (max-width: 768px) {
    align-self: center;
  }
}

.modalProductInfoWrapper {
  .wrapper {
    margin-bottom: 0;
    border-radius: var(--medium-br);
    padding: var(--extra-small-offset);
    background-color: var(--white-tr);
  }
}

.hidden {
  display: none;
}

.difficultySpan {
  display: flex;
  align-items: center;
  order: 3;
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--steam-green-400);
  gap: var(--one);

  @media (max-width: 768px) {
    align-self: center;
  }
}

.difficultyPoint {
  width: var(--extra-small-offset);
  height: var(--extra-small-offset);

  svg {
    width: var(--extra-small-offset);
    height: var(--extra-small-offset);
    fill: var(--steam-green-400);
  }
}
