.cooperationPage {
  position: relative;
  display: block;
  padding: 0 var(--small-offset);
  animation: show 0.2s ease-out forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.cooperationWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  gap: var(--extra-small-offset);

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.cooperationSection {
  display: flex;
  flex-direction: column;
  border-radius: var(--medium-br);
  padding: var(--small-offset);
  background-color: var(--steam-green-1000);
  gap: var(--extra-small-offset);
}

.cooperationTitle {
  font: var(--medium-font);
  letter-spacing: var(--one);
  color: var(--steam-green-800);
}

.cooperationSubtitle {
  font: var(--medium-bold-font);
  letter-spacing: var(--one);
  color: var(--noble-gray-1000);
}

.cooperationDescription {
  font: var(--regular-font);
  line-height: 170%;
  letter-spacing: var(--one);
  color: var(--noble-gray-800);
}

.cooperationItemList {
  display: flex;
  flex-direction: column;
  gap: var(--tiny-offset);
}

.cooperationListItem {
  position: relative;
  margin-left: var(--extra-small-offset);
  font: var(--regular-font);
  letter-spacing: var(--one);
  color: var(--noble-gray-700);

  &::after {
    content: '✔';
    position: absolute;
    left: -1.7rem;
    top: 0;
    padding: 0.15rem 0.3rem;
  }
}
